{% extends "vue.html" %}

{% block styles %}
  {{ super() }}

  <style>
    .app_border {
      max-width: 375px;
      min-height: 600px;
      border: 1px solid red;
    }
  </style>
{% endblock %}


{% block title %}Vue template{% endblock %}
{% block content %}
  <div id="app" class="container-sm app_border">
    <div>
      <div>Demo Search Bar:</div>
      <search-bar></search-bar>

      <div class="mt-2">(F12 console) Demo Fetch API:</div>
      <button v-on:click="call_restful_api">call restful api</button>

      <div class="mt-2">(F12 console) Demo Get Web Page Title:</div>
      <input v-model="url">
      <button v-on:click="send_http_get">get title</button>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}

  {% include "vue-component-search-bar.html" %}

  <script>
      let app = new Vue({
          el: '#app',
          delimiters: ['${', '}'],
          data: {
              url: '',
          },
          methods: {
              call_restful_api: function () {
                  let url = `{{ url_for('get_json') }}`;
                  let request = new Request(url, {method: 'GET'});
                  fetch(request)
                      .then(response => response.json())
                      .then(json => console.log(json));
              },
              send_http_get: function () {
                  let request = new Request(
                      `{{ url_for('get_web_page_title') }}`,
                      {
                          method: 'POST',
                          headers: {'content-type': 'application/json'},
                          body: JSON.stringify({'url': this.url})
                      }
                  );
                  fetch(request)
                      .then(response => response.json())
                      .then(json => console.log(json));
              }

          }
      });
  </script>
{% endblock scripts %}