{% extends "vue.html" %}

{% block styles %}
  {{ super() }}

  <style>
    .app_border {
      max-width: 375px;
      min-height: 600px;
      border: 1px solid red;
    }
  </style>
{% endblock %}


{% block title %}Vue template{% endblock %}
{% block content %}
  <div id="app" class="container-sm app_border">
    <div>
      <div>Demo Search Bar:</div>
      <search-bar></search-bar>

      <div class="mt-2">Demo fetch api:</div>
      <button v-on:click="call_restful_api">call restful api</button>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}

  {% include "vue-component-search-bar.html" %}

  <script>
      let app = new Vue({
          el: '#app',
          delimiters: ['${', '}'],
          data: {
              do_refresh: 0,
          },
          methods: {
              call_restful_api: function () {
                  let url = `{{ url_for('get_json') }}`
                  let request = new Request(url, {method: 'GET'});
                  fetch(request)
                      .then(response => response.json())
                      .then(json => console.log(json));
              }
          }
      })
  </script>
{% endblock scripts %}